<%- include('./partials/head.ejs') %>
<!-- ikeliam bendra navigacijos faila -->
<%- include('./partials/nav.ejs') %>

 
<h1>This is express app Index</h1>



<!-- ikeliam bendra footer -->
<%- include('./partials/footer.ejs') %>
