<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<main>
  <% if (locals.result) { %>
  <div class="alert alert-success" role="alert"> Owner created <%= result.name %> </div>
  <% } %>

  <h1>Add new owner</h1>
  <h2>Sample form</h2>
</main>

<%- include('../partials/footer.ejs') %>
