<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
<h1>Single owner page</h1>
<!-- cia turim matyti vieno ownerio html  -->

<h2>id <%= id %> </h2>
<!-- /owners/single/id -->

<!-- router GET to /owners/single/id -->

<!-- panaudoti findById ir gauti esamo ownerio objekta -->

<!-- perduoti ta objekta i single view ir atvaizduoti info -->
<%- include('../partials/footer.ejs') %>
